In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
ratings=pd.read_csv('ratings_small.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
ratings.rename(columns={'movieId':'id'}, inplace=True)

In [5]:
data=movies[['id','title']]

In [9]:
ratings.merge(data, on='id')

       userId      id  rating   timestamp               title
0           1    2105     4.0  1260759139        American Pie
1           4    2105     4.0   949896114        American Pie
2          15    2105     4.0  1052896867        American Pie
3          30    2105     2.0   994439964        American Pie
4          34    2105     4.0   973747765        American Pie
...       ...     ...     ...         ...                 ...
18566     652   26843     5.0  1440269953  Lion of the Desert
18567     652  103731     5.0  1439586954                 Mud
18568     659     167     4.0   836137550               K-PAX
18569     659     563     3.0   834694187   Starship Troopers
18570     665     129     3.0   995232528       Spirited Away

[18571 rows x 5 columns]